#MPD
{
  color: black;

  margin: 0;
  padding: 0;


  #main
  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


    #containerAlbum
    {
      order: 0;
      width: 100%;
      flex-grow: 1;
      height: 50%;



      #albumArtwork
      {
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

    }




      #can
      {
        order: 1;
        height: 10px;
        width: 100%;
      }




      #MPDMusicText
      {
        order: 2;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        background: #FFFFFF;
        width: 100%;
        height: 30px;
      }

      #AlbumText
      {
        order: 3;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        background: #FFFFFF;
        width: 100%;
        height: 30px;
      }


  }

}