.idea
.DS_Store
/widgets/Kanban/key.php
key.php
/widgets/CloudCalendar/.sass-cache/7a630b2c1f17a743217cf1edb2c6226faa96be2e/style.scssc
/widgets/MPD/.sass-cache/d08132a84e9f6478d5e45dd15aac0ec140869091/style.scssc
