#mainCloud
{
  height: 100%;
  width: 100%;
  display: grid !important;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

  .overflowMixin
  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

.EventContainer
{
  display: grid;
  grid-template-columns: 0.3fr 0.6fr 1.5fr;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;

  img
  {
    grid-column: 1;
    height: auto;
    width: 60%;
    padding: 0;
  }

  .timeContainer
  {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    text-align: center;
    min-width: 0;

    #t1t, #t2t, #t3t, #t4t, #t5t, #t6t
    {
      @extend .overflowMixin;
      grid-row: 1;
      border-bottom: solid 1px white;
    }

    #t1d, #t2d, #t3d, #t4d, #t5d, #t6d
    {
      grid-row: 2;
      @extend .overflowMixin;
    }
  }

  .titlecontainer
  {
    display: grid;
    grid-column: 3;
    align-items: center;
    justify-content: flex-start;
    font-size: small;
    text-align: left;
    grid-template-rows: 1fr 1fr;
    min-width: 0;

    #e1r, #e2r, #e3r, #4r, #e5r, #e6r
    {
      @extend .overflowMixin;
      font-size: small;
      grid-row: 1;
    }

    #e1t, #e2t, #e3t, #e4t, #e5t, #e6t
    {
      @extend .overflowMixin;
      font-size: small;
      grid-row: 2;
    }
  }
}

#mainCloud > div
{
  grid-column: 1;
  z-index: -1;
}

#firstElement
{
  grid-row: 1;
  border-bottom: solid 1px white;
}

#secondElement
{
  grid-row: 2;
  border-bottom: solid 1px white;
}

#thirdElement
{
  grid-row: 3;
  border-bottom: solid 1px white;
}

#fourthElement
{
  grid-row: 4;
  border-bottom: solid 1px white;
}

#fifthElement
{
  grid-row: 5;
  border-bottom: solid 1px white;
}

#sixthElement
{
  grid-row: 6;
}

#overlay
{
  display: grid;
  background: #ffa337;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
  text-align: center;
}



