#mainCloud {
  height: 100%;
  width: 100%;
  display: grid !important;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
  min-height: 0; }

.overflowMixin, .EventContainer .timeContainer #t1t, .EventContainer .timeContainer #t2t, .EventContainer .timeContainer #t3t, .EventContainer .timeContainer #t4t, .EventContainer .timeContainer #t5t, .EventContainer .timeContainer #t6t, .EventContainer .timeContainer #t1d, .EventContainer .timeContainer #t2d, .EventContainer .timeContainer #t3d, .EventContainer .timeContainer #t4d, .EventContainer .timeContainer #t5d, .EventContainer .timeContainer #t6d, .EventContainer .titlecontainer #e1r, .EventContainer .titlecontainer #e2r, .EventContainer .titlecontainer #e3r, .EventContainer .titlecontainer #4r, .EventContainer .titlecontainer #e5r, .EventContainer .titlecontainer #e6r, .EventContainer .titlecontainer #e1t, .EventContainer .titlecontainer #e2t, .EventContainer .titlecontainer #e3t, .EventContainer .titlecontainer #e4t, .EventContainer .titlecontainer #e5t, .EventContainer .titlecontainer #e6t {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.EventContainer {
  display: grid;
  grid-template-columns: 0.3fr 0.6fr 1.5fr;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px; }
  .EventContainer img {
    grid-column: 1;
    height: auto;
    width: 30px;
    padding: 0; }
  .EventContainer .timeContainer {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    text-align: center;
    min-width: 0; }
    .EventContainer .timeContainer #t1t, .EventContainer .timeContainer #t2t, .EventContainer .timeContainer #t3t, .EventContainer .timeContainer #t4t, .EventContainer .timeContainer #t5t, .EventContainer .timeContainer #t6t {
      grid-row: 1;
      border-bottom: solid 1px white; }
    .EventContainer .timeContainer #t1d, .EventContainer .timeContainer #t2d, .EventContainer .timeContainer #t3d, .EventContainer .timeContainer #t4d, .EventContainer .timeContainer #t5d, .EventContainer .timeContainer #t6d {
      grid-row: 2; }
  .EventContainer .titlecontainer {
    display: grid;
    grid-column: 3;
    align-items: center;
    justify-content: flex-start;
    font-size: small;
    text-align: left;
    grid-template-rows: 1fr 1fr;
    min-width: 0; }
    .EventContainer .titlecontainer #e1r, .EventContainer .titlecontainer #e2r, .EventContainer .titlecontainer #e3r, .EventContainer .titlecontainer #4r, .EventContainer .titlecontainer #e5r, .EventContainer .titlecontainer #e6r {
      font-size: small;
      grid-row: 1; }
    .EventContainer .titlecontainer #e1t, .EventContainer .titlecontainer #e2t, .EventContainer .titlecontainer #e3t, .EventContainer .titlecontainer #e4t, .EventContainer .titlecontainer #e5t, .EventContainer .titlecontainer #e6t {
      font-size: small;
      grid-row: 2; }

#mainCloud > div {
  grid-column: 1;
  z-index: -1; }

#firstElement {
  grid-row: 1;
  border-bottom: solid 1px white; }

#secondElement {
  grid-row: 2;
  border-bottom: solid 1px white; }

#thirdElement {
  grid-row: 3;
  border-bottom: solid 1px white; }

#fourthElement {
  grid-row: 4;
  border-bottom: solid 1px white; }

#fifthElement {
  grid-row: 5;
  border-bottom: solid 1px white; }

#sixthElement {
  grid-row: 6; }

#overlay {
  display: grid;
  background: #ffa337;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
