
#Analoguhr
{
    display:flex !important;
    justify-content:center;
    align-items:center;
}

#mainContainer
{
    width: 95%;
    height: 95%;

}

#mainCanvas
{
    width: 800px;
    height: 600px;
}

