/**
* Wetterstation Widget
*
* @author Michael Ochmann (INF | INF - SMS)
*/

@font-face {
font-family: WetterIcons;
src: url('Climacons.ttf');
}

#Wetterstation .digit {
      font-size: 6em;
      font-weight: normal;
      padding: 12px;
      margin: 0px auto;
      display: block;
      text-align: center;
}

#Wetterstation .date {
      display: block;
      padding-left: 35px;
}

#Wetterstation .weather {
      padding: 12px;
      font-size: 2em;
}
#Wetterstation .weather img { vertical-align: middle; margin-right: 15px; }

.WetterstationLogo {
      position: absolute;
      bottom: 0;
      right: 0px;
      margin: 0 25px 25px 0;
}

#Wetterstation {
      text-align: center;
}

.WetterstationSymbol {
      font-family: WetterIcons;
}